 * {
   margin: 0; /*this is why there is no gap between navbar and the page  */
  padding: 0;
} 
main {
  width: 110%;
  position: relative;
  
}
body {
  width: 100%;
  height:100vh;
  margin: 0;
  padding: 0;
  /* background-color: rgb(1, 1, 35); */
  background: linear-gradient(to right, #011325, #02274c);
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background 1.5s ease;
  overflow: hidden;/*hides the scroll bar*/ 
}
.head {
  background:linear-gradient(to right,  #010f1c, #022242);
  display: flex;
  align-items: center;
  gap: 60px; /* Adjust the gap as needed */
  width: 100%;
  position: fixed;  
  top: 0; 
  left:0;

  padding: 10px; /* Optional: Add padding to create space around the items */
}
#light {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color:white;
}
#light:hover{
  
  color:#96c0e3 ;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body.dark-mode {
  background: linear-gradient(to right, #64a8d1, #96c0e3);
  color: #2a4d6c;
}
body.dark-mode #element {
  color: #f4f4f4;
}
body.dark-mode .purple {
  color: #f4f4f4;
}
body.dark-mode #light{
  color: #2a4d6c;

}
body.dark-mode #light:hover{
  color:rgb(146, 70, 217);

}
body.dark-mode ul li a {
  color: #2a4d6c;
  
}
body.dark-mode ul li a:hover {
  color: rgb(146, 70, 217);
  
}

body.dark-mode .secondSection{
  background:  linear-gradient(to right, #4b91bc, #85bbe8);
}
body.dark-mode .head{
  background:  linear-gradient(to right, #4b91bc, #85bbe8);
}

body.dark-mode .b2:hover #git{
  color:#2a4d6c
}

body.dark-mode .b5:hover #you {
  color:#2a4d6c
}

body.dark-mode .b3:hover #insta {
  color:#2a4d6c
}

body.dark-mode .b4:hover #link {
  color:#2a4d6c
}

body.dark-mode .res .resume{
  background-color: #31597b;
  color:white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border-radius: 8px;
  border-color:white;
  width:250px;
  height: 35px;
}


body.dark-mode .res .resume:hover{
  background-color: #0f2f4b;
  color:white;
  font-size: 1.1rem;
  border-color:rgb(227, 224, 224);
  width:245px;
  height:34px;
}











/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: linear-gradient(to right, #011427, #022e4b);
} */

ul{
  list-style: circle;
 
}
ul li {
  list-style: circle;
  margin-left: 1300px;
}
ul li a {
  text-decoration: none;
  color: rgb(241, 249, 249);
  margin-top: 40px;
  
}
ul li a:hover {
  color: #96c0e3;
  font-size: 1.06rem;
}



.firstSection {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.firstSection div > {
  width: 80%;
}

.leftSection {
  font-size: 2rem;
  align-content: center;
  margin-left: 35%;
  margin-top: 5%;
  width: 80%;
  position: fixed;
}

.rightSection img {
  width: 80%;
  margin-left: 15%;
}
.purple {
  color: rgb(146, 70, 217);
  font-size: 3.5rem;
}
.div2 {
  font-size: 2rem;
}
#element {
  color: rgb(146, 70, 217);
  font-size: 3.5rem;
}
/* #element2 {
  font-size: 1.1rem;
  margin-left: 35%;
  font-family: cursive;
} */
.secondSection button{
  padding: 5px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 100px;
  display: flex;
  width: 40px;
  align-items: center;
  cursor: pointer;
}
 .secondSection button i {
  font-size: 1.8rem;
} 
/* .buttons:hover i{
  color: rgb(146, 70, 217);
  font-size: 2.3rem;
} */


.res {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width:100%;
  margin-top: 60vh;
 
}

.res .resume{
  background-color:rgb(112, 35, 185) ;
  color:white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border-radius: 8px;
  border-color:white;
  width:250px;
  height: 35px;
}


.res .resume:hover{
  background-color:rgb(58, 16, 98) ;
  color:white;
  font-size: 1.1rem;
  border-color:rgb(227, 224, 224);
  width:245px;
  height:34px;
}









.b2:hover #git {
  color: rgb(146, 70, 217);
  font-size: 2.3rem;
}

.b3:hover #insta {
  color: rgb(146, 70, 217);
  font-size: 2.3rem;
}

.b4:hover #link {
  color: rgb(146, 70, 217);
  font-size: 2.3rem;
}

.b5:hover #you {
  color: rgb(146, 70, 217);
  font-size: 2.3rem;
}

  .secondSection{
  background:linear-gradient(to right,  #010f1c, #022242);
   position: fixed;/*very important property */
  bottom: 0;
  left: 0;
  width: 100%;
   height: 8%; 
 
} 

.secondSection .b {
  display: flex;
  align-content: space-between;
  /* position: fixed; */
  margin-top: 10px;
  /* margin-bottom: 0; */
  margin-left: 29%;
}


@media only screen and (max-width:450px) {
  .purple {
    font-size: 2rem;
  }
  #light {
    margin-left: 370px;
  }
  .firstSection div{
    height: min-content;
    width: fit-content;
    
  }
  .firstSection{
    margin-left: -160px;
  }
  .leftSection {
    font-size: 1.5rem;
  }
  .secondSection button {
    margin-left: 40px;
  }
  .secondSection .b {
    margin-top: 80px;
    margin-left: 40px;
  }
  .div2 {
    font-size: 1.5rem;
  }
  #element {
    color: rgb(146, 70, 217);
    font-size: 2rem;
  }
   ul{
    margin-left:-255%;
  } 
  head{
    gap:0;
  }
  #light{
    margin-left: -40px;
  }
} 
